<!-- Section sys sunrise and suset -->
<div class="city">{{ weather.location.name }}</div>
<div class="wrap">
  <div class="sys">
    <img class="sys__image" src="{{ forecastDay.day.condition.icon }}" alt="{{forecastDay.day.condition.icon}}">
    <div class="sys__information">
      <div class="sys__information--name">Sunrise:
        <span class="sys__information--stat">{{ forecastDay.astro.sunrise }}</span>
      </div>
    </div>

    <div class="sys__information">
      <div class="sys__information--name">Sunset:
        <span class="sys__information--stat">{{ forecastDay.astro.sunset }}</span>
      </div>
    </div>
  </div>

  <!-- Section Main -->
  <div class="main">
    <div class="main__date">{{ forecastDay.date | date:'fullDate' }}</div>
    <div *ngIf="CurrentDay" class="main__temp">{{ selectedWeather.current.temp_selected | number:'1.0-0' }}{{ icon_temperature }}</div>
    <div *ngIf="!CurrentDay" class="main__temp">{{ forecastDay.day.maxtemp_selected | number:'1.0-0' }}{{ icon_temperature }}</div>

    <div *ngIf="CurrentDay" class="main__feel">Feels like
      <span class="main__feels_like">{{ selectedWeather.current.feelslike_selected  | number:'1.0-0' }}
        <span>{{ icon_temperature }}</span>
      </span>
    </div>

    <div *ngIf="CurrentDay" class="main__description">
      {{ selectedWeather.current.condition.text }}
    </div>

    <div *ngIf="!CurrentDay" class="main__description">
      {{ forecastDay.day.condition.text }}
    </div>

  </div>

  <!-- Section More Details -->
  <div class="details" *ngIf="CurrentDay">
    <div class="detail__name">MORE DETAILS:</div>
    <div class="detail__information--name">Wind speed:
      <span class="detail__information---stat">{{ selectedWeather.current.wind_selected }}<sup>{{ wind }}</sup></span>
    </div>
    <div class="detail__information--name">Air humidity:
      <span class="detail__information---stat">{{ selectedWeather.current.humidity }}<sup>%</sup></span>
    </div>
    <div class="detail__information--name">Pressure:
      <span class="detail__information---stat">{{ selectedWeather.current.pressure_selected }} <sup>{{ pressure }}</sup></span>
    </div>
    <div class="detail__information--name">Precipitacion probability:
      <span class="detail__information---stat">{{ selectedWeather.current.precip_selected }} <sup>{{ precipitation }}</sup></span>
    </div>
  </div>

  <div class="details" *ngIf="!CurrentDay">
    <div class="detail__name">MORE DETAILS:</div>
    <div class="detail__information--name">Wind speed:
      <span class="detail__information---stat">{{ forecastDay.day.maxtemp_selected }}<sup>{{ wind }}</sup></span>
    </div>
    <div class="detail__information--name">Air humidity:
      <span class="detail__information---stat">{{ forecastDay.day.avghumidity }}<sup>%</sup></span>
    </div>
    <div class="detail__information--name">Precipitacion probability:
      <span class="detail__information---stat">{{ forecastDay.day.totalprecip_selected }} <sup>{{ precipitation }}</sup></span>
    </div>
  </div>

  <!-- section weather hours -->
  <div class="hours">

    <ng-container *ngFor="let forecastday of selectedWeather.forecast.forecastday">
      <ng-container *ngFor="let hour of forecastday.hour">
        <div class="hours__container">
          <img [src]="hour.condition.icon" alt="hour.condition.text">
          <div class="hour__details">
            <div class="hour__details__temp"><span>{{ hour.temp_selected | number:'1.0-0' }} {{ icon_temperature }}</span></div>
            <div class="hour__details__time"><span>{{ hour.time | date: 'HH:mm' }}</span></div>
          </div>
        </div>
      </ng-container>
    </ng-container>

  </div>

  <!-- section weather days -->
  <hr class="line">
  <div class="forecast__component container">
    <app-forecast-days [icon_temperature]="icon_temperature" [forecastDay]=weather.forecast.forecastday (forecastDayOutput)="onFilterWeather($event)" ></app-forecast-days>
  </div>

</div>